.container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}
.content_text {
  margin-bottom: 3.6rem;
}
section {
}

.title {
  text-align: center;
  font-size: 7rem;
  margin: 0;
  font-weight: normal;
}
.description {
  font-size: 1.2rem;
  margin-top: 0;
  padding: 0 4rem;
  font-weight: 100;
  text-align: center;
  font-family: 'Segoe UI';
  display: flex;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.icon {
  display: block;
}
.icon svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
}


.ico_web > img {
    width: 35px;
}

.ico_web {
    display: inline-flex;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    position: absolute;
}